*{
    margin:0;
    font-family: Open Sans, sans-serif;
}
/* header and navigation style */
nav{
    display:flex;
    justify-content: space-between;
    padding:50px 200px;
}
.nav-title{
    font-weight: 800;
    font-size:45px;
}
.text-primary{
    color:#FD6E0A;
}
nav li{
    list-style:none;
    margin-left:50px;
}
nav ul{
    display:flex;
    align-items: center;
}
.btn-primary{
    color:#FFFFFF;
    font-Weight:700;
    font-size:20px;
    height: 64px;
    Border:0;
    padding:18px 35px;
    border-radius: 5px;
    background-color:#FD6E0A;
}
/* banner styles */
.banner{
    display:flex;
    align-items:center;
    margin: 125px 200px;  
}
.banner-title{
    font-weight: 700;
    font-size: 45px;
}
.banner-sub-title{
    font-weight:600;
    font-size:45px;
    margin-bottom:20px;
}
.banner-description{
    color: #757575;
    font-size: 18px;
    margin-bottom: 30px;
}
.header{
    background: #FFF8F3;
    background-image: url('../images/header_bg.png'),url('../images/developer.png');
    background-repeat: no-repeat;
    background-position: bottom right,left;
}
.img{
   margin-left:200px;
}
.btn-secondary{
    color:#FD6E0A;
    font-Weight:700;
    font-size:20px;
    height: 64px;
    Border:0;
    padding:18px 35px;
    border-radius: 5px;
}
/* main section */
main{
    max-width:1140px;
    margin:0 auto;
}
/* About section style */
.about{
    background:#FFF8F3;
    border-radius:10px;
    padding:130px 150px;
    text-align:center;
}
.section-title{
     text-align:center;
     margin-bottom:50px;
     font-weight:700;
     font-size:35px;
}
.section-description{
     color:#757575;
     font-size:18px;
     margin-bottom:30px;
}
.about-info-container{
    display:flex;
    justify-content: space-around;
}
.about .info-title{
    font-Size:20px;
    color:#757575;
}
.info-description{
    font-Weight:700;
    font-Size:20px;
    color:#474747;
}
.skills-container{
    display: flex;
    gap:24px;
}
.skill{
    background: #FFFFFF;
    box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.06);
    border-radius: 5px;
    padding:30px;
}
.skill-title{
    font-Weight:700;
    font-Size:20px;
    margin-top:30px;
    margin-bottom:20px;
}
.skill-description{
    color: #757575;
}
section{
    margin-top: 130px;
}
/* Resume styles */
.resume-content{
    display:flex;
    gap:24px;
}
.resume .title{
    font-weight:700;
    font-size:25px;
    color:#474747;
    margin-bottom:10px;
}
.resume .sub-title{
    color:#757575;
    font-weight:600;
    font-size:20px;
    margin-bottom:20px;
}
.resume .description{
    color:#757575;
}
.resume-item{
    margin-top:30px;
    margin-bottom:30px;
}
.resume-btn{
    margin-top:50px;
    text-align:center;
}
/* contact style */
.contact .section-title{
    text-align: left;
}
.contact{
    display:flex;
    gap:100px;
    background:#FFF8F3;
    padding:130px 200px;
}
.contact input[type="text"], [type="email"], textarea{
    margin-bottom:24px;
    border:0;
    width:100%;
    padding: 18px 30px;
}
input{
    height:64px;
}
.contact a{
    text-decoration: none;
}
@media screen and (max-width:576px) {
    .header{
        background-image: none;
    }
    nav ul{
        flex-direction:column;
        gap:20px;
        align-items: flex-start;
    }
    nav,.banner,.skills-container,.resume-content,.about-info-container,.contact{
        flex-direction: column;
        gap:20px;
        padding:10px 20px;
    }
    .about,.contact{
        padding:20px;
    }
    .contact input[type="text"], [type="email"], textarea{
        padding:0 0 0 5px;
    }
    .banner{
        margin:0 20px;
    }
    .img{
        margin-left:20px;
    }
    nav{
        padding-left:10px;
    }
    nav li{
        margin-left:0px;
    }
}
@media screen and (min-width:577px) and (max-width:992px){
    .about,.contact{
        padding:20px;
    }
    .contact,.banner{
        flex-direction:column;
    }
    .contact input[type="text"], [type="email"], textarea{
        padding:0 0 0 5px;
    }
    nav{
        flex-direction:column;
        gap:20px;
        align-items: flex-start;
        padding-left: 20px;;
    }
    nav ul{
        flex-direction:column;
        gap:20px;
        align-items: flex-start;
    }
    nav li{
        margin-left:0px;
    }
}
.hide{
    display:none;
}